@function rem ($px) {
  $rem: 75px;
  @return ($px / $rem) + rem;
}

html, body, ul, li, p {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f8f8f8;
  transition: 0.28s linear;
}

body {
  margin: 0 auto;
  background-color: #fff;
  transition: 0.28s linear;
}

li {
  list-style: none;
}

.header {
  height: rem(80px);
  width: rem(750px);
  background-color: red;
  .header-item {
    float: left;
    color: #ffcdce;
    line-height: rem(80px);
    font-size: rem(32px);
    margin: 0 rem(30px);
    &-active {
      color: #fff;
      font-size: rem(34px);
    }
  }
}

.banner-content {
  position: relative;
  .banner-img {
    width: 100%;
    height: rem(360px);
    display: block;
    & img {
      width: 100%;
    }
  }
  & .banner-title {
    position: absolute;
    left: rem(30px);
    bottom: rem(30px);
    font-size: rem(32px);
    color: #fff;
  }
}

.news-contents {
  margin-bottom: rem(30px);
  .news-item {
    width: rem(750px);
    padding: 0 rem(30px);
    box-sizing: border-box;
    .item-inner {
      padding: rem(30px) 0;
      position: relative;
      height: 100%;
      overflow: hidden;
      border-bottom: rem(2px) solid #e5e5e5;
    }
    .news-img {
      float: left;
      display: block;
      width: rem(180px);
      height: rem(150px);
      border-radius: 4px;
      overflow: hidden;
      margin-right: rem(30px);
    }
    .news-title {
      font-size: rem(34px);
      color: #404040;
    }
    .time {
      position: absolute;
      left: rem(220px);
      bottom: rem(34px);
      color: #888;
      font-size: rem(24px);
    }
    .num {
      color: #999;
      position: absolute;
      right: rem(20px);
      bottom: rem(32px);
      font-size: rem(24px);
    }
  }
}